
body{background: gray;
}

line {
  stroke:orange;
  stroke-width:5;
}

.NumberTen{
  width: 1200px;
  height: 3000px;
  background: transparent;
  margin: auto;
  z-index: 0;
}

.a{
  width: 110px;
  height: 120px;
  left: 20px;
  top: 120px;
  position: relative;
  background: transparent;
  z-index: 1;
}

.b{
  width: 110px;
  height: 220px;
  left: 140px;
  top: -100px;
  position: relative;
  background: transparent;
}

.c{
  width: 110px;
  height: 120px;
  left: 260px;
  top: -220px;
  position: relative;
  background: transparent;
}

.d{
  width: 110px;
  height: 220px;
  left: 380px;
  top: 20px;
  position: absolute;
  background: transparent;
}

.e{
  width: 110px;
  height: 120px;
  left: 500px;
  top: 120px;
  position: absolute;
  background: transparent;
}

.f{
  width: 110px;
  height: 220px;
  left: 620px;
  top: 120px;
  position: absolute;
  background: transparent;
}

.g{
  width: 110px;
  height: 220px;
  left: 740px;
  top: 120px;
  position: absolute;
  background: transparent;
}

.h{
  width: 110px;
  height: 220px;
  left: 860px;
  top: 20px;
  position: absolute;
  background: transparent;
}

.i{
  width: 110px;
  height: 120px;
  left: 980px;
  top: 120px;
  position: absolute;
  background: transparent;
}

.j{
  width: 110px;
  height: 220px;
  left: 20px;
  top: 480px;
  position: absolute;
  background: transparent;
}

.k{
  width: 110px;
  height: 220px;
  left: 140px;
  top: 380px;
  position: absolute;
  background: transparent;
}

.l{
  width: 110px;
  height: 220px;
  left: 260px;
  top: 380px;
  position: absolute;
  background: transparent;
}

.m{
  width: 110px;
  height: 120px;
  left: 380px;
  top: 480px;
  position: absolute;
  background: transparent;
}

.n{
  width: 110px;
  height: 120px;
  left: 500px;
  top: 480px;
  position: absolute;
  background: transparent;
}

.o{
  width: 110px;
  height: 120px;
  left: 620px;
  top: 480px;
  position: absolute;
  background: transparent;
}

.p{
  width: 110px;
  height: 220px;
  left: 740px;
  top: 480px;
  position: absolute;
  background: transparent;
}

.q{
  width: 110px;
  height: 220px;
  left: 860px;
  top: 480px;
  position: absolute;
  background: transparent;
}

.r{
  width: 110px;
  height: 120px;
  left: 980px;
  top: 480px;
  position: absolute;
  background: transparent;
}

.s{
  width: 110px;
  height: 120px;
  left: 20px;
  top: 780px;
  position: absolute;
  background: transparent;
}

.t{
  width: 110px;
  height: 120px;
  left: 140px;
  top: 780px;
  position: absolute;
  background: transparent;
}

.u{
  width: 110px;
  height: 120px;
  left: 260px;
  top: 780px;
  position: absolute;
  background: transparent;
}

.v{
  width: 110px;
  height: 120px;
  left: 380px;
  top: 780px;
  position: absolute;
  background: transparent;
}

.w{
  width: 110px;
  height: 120px;
  left: 500px;
  top: 780px;
  position: absolute;
  background: transparent;
}

.x{
  width: 110px;
  height: 120px;
  left: 620px;
  top: 780px;
  position: absolute;
  background: transparent;
}

.y{
  width: 110px;
  height: 220px;
  left: 740px;
  top: 780px;
  position: absolute;
  background: transparent;
}

.z{
  width: 110px;
  height: 120px;
  left: 860px;
  top: 780px;
  position: absolute;
  background: transparent;
}

.NumberZero{
  width: 110px;
  height: 120px;
  left: 980px;
  top: 780px;
  position: absolute;
  background: transparent;
}

.NumberOne{
  width: 110px;
  height: 120px;
  left: 20px;
  top: 1080px;
  position: absolute;
  background: transparent;
}

.NumberTwo{
  width: 110px;
  height: 120px;
  left: 140px;
  top: 1080px;
  position: absolute;
  background: transparent;
}

.NumberThree{
  width: 110px;
  height: 120px;
  left: 260px;
  top: 1080px;
  position: absolute;
  background: transparent;
}

.NumberFour{
  width: 110px;
  height: 120px;
  left: 380px;
  top: 1080px;
  position: absolute;
  background: transparent;
}

.NumberFive{
  width: 110px;
  height: 120px;
  left: 500px;
  top: 1080px;
  position: absolute;
  background: transparent;
}

.NumberSix{
  width: 110px;
  height: 120px;
  left: 620px;
  top: 1080px;
  position: absolute;
  background: transparent;
}

.NumberSeven{
  width: 110px;
  height: 120px;
  left: 740px;
  top: 1080px;
  position: absolute;
  background: transparent;
}

.NumberEight{
  width: 110px;
  height: 120px;
  left: 860px;
  top: 1080px;
  position: absolute;
  background: transparent;
}

.NumberNine{
  width: 110px;
  height: 120px;
  left: 980px;
  top: 1080px;
  position: absolute;
  background: transparent;
}

.Periods{
  width: 10px;
  height: 10px;
  left: 70px;
  top: 1380px;
  position: absolute;
  background: transparent;
}

.QuestionMark{
  width: 110px;
  height: 220px;
  left: 240px;
  top: 1280px;
  position: absolute;
  background: transparent;
}
.ExclamationMark{
  width: 110px;
  height: 120px;
  left: 360px;
  top: 1280px;
  position: absolute;
  background: transparent;
}
.Comma{
  width: 15px;
  height: 20px;
  left: 480px;
  top: 1380px;
  position: absolute;
  background: transparent;
}
.CommaTail{
  width: 15px;
  height: 20px;
  left: 480px;
  top: 1388px;
  position: absolute;
  background: transparent;
}

.FrontQuote{
  width: 110px;
  height: 120px;
  left: 500px;
  top: 1280px;
  position: absolute;
  background: transparent;
}
.BackQuote{
  width: 110px;
  height: 120px;
  left: 620px;
  top: 1280px;
  position: absolute;
  background: transparent;
}

/*----------------------------Hexagon Begin-----------------------*/
.hexagon {
  position: relative;
  width: 10px; 
  height: 5.77px;
  background-color: orange;
  margin: 2.89px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 2.89px solid orange;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 2.89px solid orange;
}

/*----------------------Hexagon End-------------------------------*/


